* {
  max-width: 1600px;
  margin: auto;
}

@import "tailwindcss";

.hero-image {
  width: 2600px;
  height: 760px;
}
.micro {
  background: var(
    --Linear,
    linear-gradient(
      47.64deg,
      #f7e93f,
      #fb09b4,
      #9100f8
    )
  );
}
.hero-bg-image {
  background: url("./images/assets/hero-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 675px;
}

     @media (max-width: 768px) {
        .hero-bg-image {
          background-size: cover !important;
          height: auto !important;
          padding-bottom: 3rem;
        }
      }