/* Common Conainer for all class for maintaining width size */
.all-container {
  max-width: 1600px;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.link-parent {
  display: flex;
  gap: 32px;
  list-style: none;
  justify-content: space-between;
}

.link-parent a {
  text-decoration: none;
}

#navbar-button {
  background-color: #30b868;
  color: white;
  padding: 12.5px 16px;
  font-size: 16px;
  font-weight: 600;
  font-family: inline-block;
  font-size: semi bold;
  border-radius: 8px;
  border: 1px #30b868;
  height: 2%;
  width: 150px;
  text-align: justify;
  border-radius: 4px;
}

.mainsection {
  background:url('./assets/hero-bg.png');   
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height:700px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.body-first-button{
  background: #FFFFFF;
  color:#30B868;
  padding: 5px 15px;
  border-radius: 25px;
  font-size: 13px;
  border: 1px white;
}
.bigtext{
  color: #FFFFFF;
  font-family: Inter;
  font-style: Bold;
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 0%;
}
.bigtext2{
  color: #30B868;
}

.para {
  color: white;
  text-align:center;
}

.para2 {
  color: white;
  text-align:center;
}

.body-sec-button {
  color: #FFFFFF;
  background-color: #30B868;
  font-family: Inter;
  font-style: Semi Bold;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 15px;
}

.body-third-button{
  background-color: transparent;
  text-align: right;
  font-size: 16px;
  color: white;
  box-sizing: border-box;
  border-radius: 4px;
  
}