.navbar {
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    margin: auto;
}

.link-parent {
    display: flex;
    gap: 32px;
    list-style: none;
    justify-content: space-between;
}

.link-parent a {
    text-decoration: none;
}

#navbar-button{
    background-color:#30B868;
    color: white;
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
    font-family: Inter;
    font-size: semi bold;
    border-radius: 8px;
    border: 1px #30B868;
    height: 2%;
    width: 150px;
    text-align: justify;
}