/* Common Container for all class for maintaining width size */
.all-container {
  max-width: 1600px;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.link-parent {
  display: flex;
  gap: 32px;
  list-style: none;
  justify-content: space-between;
}

.link-parent a {
  text-decoration: none;
}

#navbar-button {
  background-color: #30b868;
  color: white;
  padding: 12.5px 16px;
  font-size: 16px;
  font-weight: 600;
  font-family: inline-block;
  font-size: semi bold;
  border-radius: 8px;
  border: 1px #30b868;
  height: 2%;
  width: 150px;
  text-align: justify;
  border-radius: 4px;
}

.hero-style {
  background:url('./assets/hero-bg.png');   
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height:700px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.body-first-button{
  background: #FFFFFF;
  color:#30B868;
  padding: 5px 15px;
  border-radius: 25px;
  font-size: 13px;
  border: 1px white;
}

.bigtext{
  margin-top: 15px;
  color: #FFFFFF;
  font-family: Inter;
  font-style: Bold;
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 0%;
}
.bigtext2{
  color: #30B868;
}

.para {
  margin-top: -25px;
  color: white;
  text-align:center;
}

.para2 {
  color: white;
  text-align:center;
  margin-bottom: 35px;
}

.body-sec-button {
  color: #FFFFFF;
  background-color: #30B868;
  font-family: Inter;
  font-style: Semi Bold;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 15px;
  border-radius: 8px;
  height: 50px;
  width: 230px;
}

.body-third-button{
  background-color: transparent;
  text-align: right;
  font-size: 16px;
  color: white;
  border-radius: 8px;
  border-color: black;
  padding:13px;
  margin-left: 16px;
}

.circle-image{
  height: 10px;
  width: 10px;
}

.ArrowRight{
  height: 12px;
  width: 17px;
  font-style: semi bold;
}

.first-para{
  color: black;
  /* display: flex; */
  text-align: center;
  background-color: white;
}
.first-para2{
  color: #6a7c92;
  text-align: center;
  margin-bottom: 15px;
}

.body-section {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 10px 10px;
  background-color: #f9f9f9
}


.selection-div{
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px #0000000f;
  background: #ffffff;
  padding: 40px 25px;
  text-align: center;
  max-width: 3000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.round-image {
  background-color: red; 
  border-radius: 50%;
  height: 35px;
  width: 35px;
  padding: 15px;
  margin-bottom: 20px;
}

.black-color {
  color: black;
}

.para-color {
  color: #6a7c92;
  margin-top: -10px;
}

.knowledge-main{
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 100px;
}

.knowledge-list{
  list-style: none;
}
.knowledge-image {
  margin-right: 15px;
  vertical-align: middle;
}

.chlg-section{
  margin-top: 120px;
  background: white;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px
}
.chlg-section >h1 {
  /* display: flex; */
  text-align: center;
}

.chlg-section >p {
  color:#627382;
  text-align: center;
}
.chlg-section >button {
  background-color: green;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
}

.center-button-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.last-footer {
  background-color: #001931; 
  padding: 80px 120px 30px 120px;
  display: flex;
  flex-direction: column;
  gap: 60px; 
}


.footer-div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.last-footer > p{
  color: #a0a0a0;
  font-size: 16px;
  text-align: center; 
  width: 100%;
  padding-top: 30px;
  margin: 0;
}

